.cta {
  @apply relative inline-block mt-8 ml-2 px-7 py-4 font-medium rounded bg-black text-cta-text-color border border-cta-border-color no-underline;

  &::after {
    @apply absolute -top-2 -left-2 flex justify-center items-center w-full h-full border-2 border-cta-border-color rounded transition-all duration-100 ease-out bg-cta-fill;

    content: attr(data-value);
  }

  @include nonTouchScreenOnly {
    &:hover::after {
      @apply top-0 left-0 bg-cta-fill-hover text-cta-text-color-hover;
    }
  }

  @include touchScreenOnly {
    &:active::after {
      @apply top-0 left-0 bg-cta-fill-hover text-cta-text-color-hover;
    }
  }

  .is-tab &:focus::after {
    @apply top-0 left-0 bg-cta-fill-hover text-cta-text-color-hover;
  }
}

.cta--secondary {
  @apply self-start inline-flex justify-center items-center border border-8 mt-4 ml-0 py-3 px-4 bg-cta-secondary-fill text-cta-secondary-text-color border-cta-secondary-border-color shadow-2xl transform duration-200;

  border-width: 2px !important;

  &::after,
  &:hover::after,
  &:active::after,
  .is-tab &:focus::after {
    @apply hidden;
  }

  &:hover,
  .is-tab &:focus {
    @apply bg-cta-secondary-fill-hover text-cta-text-color-hover shadow-none -translate-y-0.5;
  }

  .banner-ad & {
    --cta-secondary-fill: var(--color-jelly-bean);
    --cta-secondary-border-color: var(--color-jelly-bean);
    --cta-secondary-fill-hover: var(--color-blue-chill);

    @apply transition-none shadow-none mt-1 md:mt-0;

    &:hover,
    .is-tab &:focus {
      @apply bg-cta-secondary-fill-hover text-cta-text-color-hover transform-none shadow-none;
    }
  }
}
