.hero__content {
  @apply flex flex-col justify-center items-center h-full;

  @include media-breakpoint-up(md) {
    @apply w-full;
  }

  @include media-breakpoint-up(lg) {
    @apply min-h-80vh flex-row;
  }
}

.hero__content-inner-wrapper {
  @apply w-full;

  @include backdrop-blur;
}

.hero__title {
  @include delay-fade-up();

  @apply py-1 text-hero-title-color text-hero-title-size;

  @include media-breakpoint-up(xs) {
    @apply py-2;
  }

  @include media-breakpoint-up(sm) {
    @apply text-hero-title-size-sm;
  }

  @include media-breakpoint-up(md) {
    @apply  mt-2 py-0 text-5xl;
  }

  @include media-breakpoint-up(lg) {
    @apply mt-4 text-hero-title-size-sm;
  }

  @include media-breakpoint-up(xl) {
    @apply text-hero-title-size-xl;
  }
}

.hero__body-image-wrapper::before {
  @apply absolute top-36 -mx-4;

  content: "";
  width: calc(100% + 2rem);
  height: calc(100% - 9rem);
  background-color: var(--hero-frame-color);

  @include media-breakpoint-up(md) {
    @apply hidden;
  }
}

.hero__body {
  @include delay-fade-up(500);

  @apply mt-6;

  max-width: 650px;

  @include media-breakpoint-up(lg) {
    @apply mt-8;
  }
}

.hero__image-wrapper {
  @apply transform rotate-10;

  [aria-hidden="true"] {
    @apply hidden;
  }

  img:not([aria-hidden="true"]) {
    @include delay-fade-up(500);

    @apply shadow-img mx-auto;

    border: 1rem solid var(--hero-frame-color);

    @include media-breakpoint-up(md) {
      @apply mt-0 mb-8;

      max-height: 80vh;
    }

    @include media-breakpoint-up(lg) {
      border-width: 1.5rem;
    }
  }

  &--sm {
    @apply md:hidden;

    img:not([aria-hidden="true"]) {
      @apply mt-6 mx-auto;

      max-height: 250px;

      @include media-breakpoint-up(xs) {
        max-height: 350px;
      }

      @include media-breakpoint-up(sm) {
        @apply mt-10;

        max-height: 450px;
      }
    }
  }
}