.hero__content {
  @apply flex flex-col justify-center items-center h-full md:w-full lg:min-h-80vh lg:flex-row;
}

.hero__content-inner-wrapper {
  @apply w-full;

  @include backdrop-blur;
}

.hero__body-image-wrapper::before {
  @apply absolute top-36 -mx-4;

  content: "";
  width: calc(100% + 2rem);
  height: calc(100% - 9rem);
  background-color: var(--hero-frame-color);

  @include media-breakpoint-up(md) {
    @apply hidden;
  }
}

.hero__body {
  @apply mt-6 lg:mt-8;

  max-width: 650px;
}

.hero__image-wrapper {
  @apply transform rotate-10;

  [aria-hidden="true"] {
    @apply hidden;
  }

  img:not([aria-hidden="true"]) {
    @apply shadow-img mx-auto;

    border: 1rem solid var(--hero-frame-color);

    @include media-breakpoint-up(md) {
      @apply mt-0 mb-8;

      max-height: 80vh;
    }

    @include media-breakpoint-up(lg) {
      border-width: 1.5rem;
    }
  }

  &--sm {
    @apply md:hidden;

    img:not([aria-hidden="true"]) {
      @apply mt-6 mx-auto;

      max-height: 250px;

      @include media-breakpoint-up(xs) {
        max-height: 350px;
      }

      @include media-breakpoint-up(sm) {
        @apply mt-10;

        max-height: 450px;
      }
    }
  }
}