.homepage-content {
  @apply flex flex-col justify-center w-full py-20 px-0;

  @include section-colours;

  @include media-breakpoint-up(xl) {
    padding: 10vh 0;
  }
}

.homepage-content--feature {
  @apply pt-8;

  min-height: 30vh;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 6vmin);

  @include media-breakpoint-up(md) {
    @apply pt-12;

    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15vmin);
  }

  @include media-breakpoint-up(lg) {
    @apply py-40 px-0;
  }
}

.homepage__content--media-fw {
  @apply max-w-screen-xl mx-auto;

  img {
    @apply shadow-none;
  }
}

.homepage-content--mission-statement {
  @apply pb-0;
}