.social-links-list {
  @apply fixed bottom-0 left-0 right-0 z-20 border-t-2 border-black flex justify-center bg-white;

  li {
    @apply p-3 m-0;
  }

  a,
  a:visited {
    @apply flex text-black transition duration-200 ease-out;
    display: flex;
    text-decoration: none !important;

    &::after {
      @apply hidden;
    }
  }

  svg {
    @apply h-8 transition-colors;
  }

  a:hover svg,
  .is-tab & a:focus svg {
    fill: var(--color-hot-pink);
  }

  @include media-breakpoint-up(lg){
    @apply static border-t-0 border-l ml-4 mt-0 pl-2 bg-transparent;

    li {
      @apply py-0 px-2;
    }
  }
}