.testimonials-slider {
  --container-padding: 1rem;
  --testimonial-slide-width: 100%;
  --testimonial-slide-content-max-width: 450px;
  --first-last-testimonial-slide-factor: 2.25;
  --first-last-testimonial-slide-margin: calc((var(--testimonial-slide-width) - 100%) / var(--first-last-testimonial-slide-factor));

  @include media-breakpoint-up(md) {
    --testimonial-slide-width: 450px;
    --container-padding: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    --container-padding: 2rem;
    --testimonial-slide-width: 600px;
    --testimonial-slide-content-max-width: 550px;
    --first-last-testimonial-slide-factor: 2.05;
  }

  @apply relative overflow-hidden flex w-full pb-4;

  @include media-breakpoint-up(sm) {
    &::before,
    &::after {
      @apply absolute top-0 h-full;

      content: "";
      width: 7%;
      pointer-events: none;
    }

    &::before {
      @apply left-0 z-10;

      background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
    }

    &::after {
      @apply right-0 z-1;

      background: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
    }
  }
}

.testimonials-slider__button {
  @apply absolute z-10 border-0 w-12 h-12 flex justify-center items-center transition duration-300 ease-out;

  top: calc(50% - 2.75rem);
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;

  @include media-breakpoint-up(md) {
    @apply w-20 h-24;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }

  &--prev {
    @apply left-0;

    svg {
      @apply -ml-1;
    }
  }

  &--next {
    @apply right-0;

    svg {
      @apply -mr-1;
    }
  }

  svg {
    @apply w-4 h-4 text-white;

    @include media-breakpoint-up(md) {
      @apply w-8 h-8;
    }
  }

  svg:focus {
    outline: none;
  }

  .is-tab &:focus {
    outline: 3px dotted var(--color-blue-chill);
    outline-offset: 2px;
  }
}

.testimonials-slider__slides-container {
  @apply flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    @apply hidden;
  }
}


.testimonials-slider__slide {
  @apply flex justify-center items-center;

  flex-shrink: 0;
  scroll-snap-align: center;
  width: var(--testimonial-slide-width);
  padding: 2rem var(--container-padding);

  &:first-child,
  &:last-child {
    @apply w-full max-w-full;
  }

  &:first-child {
    margin-right: var(--first-last-testimonial-slide-margin);
  }

  &:last-child {
    margin-left: var(--first-last-testimonial-slide-margin);
  }
}

.testimonials-slider__slide-content {
  @apply relative flex justify-center items-center w-full h-full py-28 px-12 opacity-50;

  max-width: var(--testimonial-slide-content-max-width);
  border-radius: 1.5rem;
  background-color: var(--color-white);
  box-shadow: 0 0.5rem 2rem -0.5rem rgb(0 0 0 / 20%);
  transition: all 300ms ease-out;

  .icon {
    top: 1rem;
    left: 1rem;
    font-size: 7rem;
    color: var(--color-lily-white);

    @include media-breakpoint-up(sm) {
      top: -1.5rem;
      left: -1rem;
    }
  }

  .icon ~ .icon {
    top: auto;
    bottom: 1rem;
    left: auto;
    right: 1rem;
    transform: rotate(180deg);

    @include media-breakpoint-up(sm) {
      bottom: -1rem;
      right: -1rem;
    }
  }

  cite {
    @apply absolute bottom-12 left-12;
  }

  .testimonials-slider__slide.is-active & {
    @apply opacity-100;
  }

  @include media-breakpoint-up(md) {
    transform: translateY(-10px);

    .testimonials-slider__slide.is-active & {
      transform: translateY(0);
    }
  }
}

.testimonials-slider__date {
  font-size: 0.65rem;
  font-style: normal;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.testimonials-slider__pagination {
  @apply absolute bottom-0 w-full text-center hidden;

  @include media-breakpoint-up(lg) {
    @apply block;
  }

  a {
    @apply inline-block opacity-20;

    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 0.15rem;
    background-color: var(--color-black);

    &:hover {
      @apply opacity-70;
      background-color: var(--color-jelly-bean);
    }

    &.is-active,
    &.is-active:hover {
      @apply opacity-100;
      background-color: var(--color-jelly-bean);
    }
  }
}