.video {
  @apply relative w-full h-0;

  padding-bottom: 56.25%;

  &--shopsharetv {
    @apply h-auto;

    --shopshare-padding-bottom: 122%;

    padding-bottom: var(--shopshare-padding-bottom);

    @media (min-width: 360px) {
      --shopshare-padding-bottom: 116%;
    }

    @include media-breakpoint-up(xs) {
      --shopshare-padding-bottom: 109%;
    }

    @media (min-width: 540px) {
      --shopshare-padding-bottom: 92%;
    }

    @include media-breakpoint-up(sm) {
      --shopshare-padding-bottom: 89%;
    }

    @include media-breakpoint-up(md) {
      --shopshare-padding-bottom: 112%;
    }

    @include media-breakpoint-up(lg) {
      --shopshare-padding-bottom: 97%;
    }

    @media (min-width: 1200px) {
      --shopshare-padding-bottom: 92%;
    }

    @include media-breakpoint-up(xl) {
      --shopshare-padding-bottom: 91%;
    }
  }
}

.video__link,
.video__iframe {
  @apply absolute top-0 left-0 w-full h-full border-0;
}

.video__link {
  @apply no-underline;
}

.video__play-button {
  @apply absolute text-2xl text-white h-16 w-20 text-center bg-white;

  top: calc(50% - 2rem);
  left: calc(50% - 2.5rem);
  border-radius: 50% / 10%;

  &::before,
  &::after {
    @apply absolute;
  }

  &::before {
    @apply bg-white;

    content: "";
    border-radius: 5% / 50%;
    bottom: 9%;
    left: -5%;
    right: -5%;
    top: 9%;
  }

  &::after {
    @apply transition duration-200 ease-out;

    content: ' ';
    top: 50%;
    width: 0;
    height: 0;
    margin: -1em 0 0 -0.75em;
    border-style: solid;
    border-width: 1em 0 1em 1.732em;
    border-color: transparent transparent transparent var(--color-jelly-bean);
    font-size: 0.75em;
  }

  .video__link:hover &::after {
    border-left-color: var(--link-hover-color);
  }
}