:root {
  --color-black: #000;
  --color-emperor: #333;
  --color-blue-chill: #0c88b4;
  --color-jelly-bean: #2574a9;
  --color-onahau: #bfefff;
  --color-wild-strawberry: #ff47a3;
  --color-hot-pink: #ff7abd;
  --color-rose: #ff148a;
  --color-lily-white: #e6f9ff;
  --color-white: #ffffff;
  --color-broom: #ffec13;
  --color-scotch-mist: #fffbde;
}