// Geoff Graham https://css-tricks.com/snippets/css/fluid-typography/
$h-size_1: 1.2; // mobile
$h-size_2: 1.5; // desktop
$min_width: 1px;
$max_width: 1300px;
$min_font: 14px;
$max_font: 17px;

$breakpoints: (
        "xs": 400px,
        "sm": 640px,
        "md": 768px,
        "lg": 1024px,
        "xl": 1280px,
        "2xl": 1536px
);

:root {
  --body-color: rgba(0, 0, 0, 0.8);
  --border-keyline: rgba(85, 90, 93, 0.6);
  --button-border-radius: 0.25rem;
  --backdrop-blur: blur(3px);
  --link-color: var(--color-jelly-bean);
  --link-hover-color: var(--color-hot-pink);
  --outline-color: var(--color-blue-chill);
  --mission-statement-title-color: var(--color-wild-strawberry);
  --mission-statement-frame-color: var(--color-onahau);
  --nav-text-color: var(--color-wild-strawberry);
  --nav-text-color-hover: var(--color-wild-strawberry);
  --nav-underline: var(--color-white);
  --nav-mobile-bg-color: var(--color-white);
  --cta-primary-fill: var(--color-scotch-mist);
  --cta-primary-fill-hover: var(--color-wild-strawberry);
  --cta-primary-text-color: var(--link-color);
  --cta-primary-text-color-hover: var(--color-white);
  --cta-primary-border-color: var(--color-black);
  --cta-secondary-fill: var(--color-wild-strawberry);
  --cta-secondary-fill-hover: var(--color-rose);
  --cta-secondary-text-color: var(--color-white);
  --cta-secondary-border-color: var(--color-rose);
}