.tsw-container {
  @apply max-w-screen-xl w-full mx-auto px-4;
}

.content {
  @include backdrop-blur;

  h1,
  .h1 {
    @apply mt-8;
  }

  ol {
    @apply list-decimal;
  }

  ul:not(.services):not(.page-contents) {
    @apply list-disc;
  }
}

.form-checkboxes-wrapper {
  columns: 2;
}

.section-shadow-wrapper {
  @apply relative -mt-8 sm:-mt-11 md:mt-0;

  filter: drop-shadow(0 -1rem 1.5rem rgba(0, 0, 0, 0.15));
}

.list-two-col {
  > li {
    @apply m-0 py-2 pr-0 pl-4;
  }

  @include media-breakpoint-up(xs) {
    column-count: 2;
  }
}